{% extends "_base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='maplibre-gl.css') }}" />
<script src="{{ url_for('static', path='maplibre-gl.js') }}"></script>
{% endblock %} {% block content %}
<header>
  <h1>OSM UK Addresses</h1>
  <a href="{{url_for('layers_list')}}">layers</a>
</header>
<div id="map"></div>
<div id="zoom-notice">Zoom in to see data</div>
<div id="layer-switcher">
  <h3>Layers</h3>
  <div class="checkbox-group">
    <label for="uprn">UPRN Points</label
    ><input id="uprn" type="checkbox" data-layer="uprn" checked />
  </div>
  <div class="checkbox-group">
    <label for="inspire_points">INSPIRE Address Points</label
    ><input
      id="inspire_points"
      type="checkbox"
      data-layer="addresses"
      checked
    />
  </div>
  <div class="checkbox-group">
    <label for="split_buildings">Split Buildings</label
    ><input
      id="split_buildings"
      type="checkbox"
      data-layer="split_buildings,split_buildings_outline"
      checked
    />
  </div>
  <div class="checkbox-group">
    <label for="inspire_polygons">INSPIRE polygons</label
    ><input
      id="inspire_polygons"
      type="checkbox"
      data-layer="inspire"
      checked
    />
  </div>
</div>
<script>
  const map = new maplibregl.Map({container: 'map',
      style: "{{url_for('static', path="osm_addresses.json")}}",
      customAttribution: "Contains OS data © Crown copyright &amp; database rights 2021",
      center: [0, 52],
      hash: true,
      zoom: 9});

  function updateZoom() {
    if (map.getZoom() > 16) {
      document.getElementById('zoom-notice').style.display = 'none';
    } else {
      document.getElementById('zoom-notice').style.display = 'block';
    }
  }

  map.on('zoomend', updateZoom);
  map.on('load', updateZoom);

  document.querySelectorAll('#layer-switcher input').forEach((el)=> {
    el.addEventListener('change', (e)=> {
      const layers = e.target.getAttribute('data-layer');
      for (var layer of layers.split(",")) {
        if (e.target.checked) {
          map.setLayoutProperty(layer, 'visibility', 'visible');
        } else {
          map.setLayoutProperty(layer, 'visibility', 'none');
        }
      }
    })
  });
</script>
{% endblock %}
