{% extends "_base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='maplibre-gl.css') }}" />
<script src="{{ url_for('static', path='maplibre-gl.js') }}"></script>
{% endblock %} {% block content %}
<header>
  <h1>OSM UK Addresses</h1>
  <a href="{{url_for('layers_list')}}">layers</a>
</header>
<div id="map"></div>
<div id="zoom-notice">Zoom in to see data</div>
<script>
  const map = new maplibregl.Map({container: 'map',
      style: "{{url_for('static', path="osm_addresses.json")}}",
      customAttribution: "Contains OS data © Crown copyright &amp; database rights 2021",
      center: [0, 52],
      hash: true,
      zoom: 9});

  function updateZoom() {
    if (map.getZoom() > 16) {
      document.getElementById('zoom-notice').style.display = 'none';
    } else {
      document.getElementById('zoom-notice').style.display = 'block';
    }
  }

  map.on('zoomend', updateZoom)
  map.on('load', updateZoom)
</script>
{% endblock %}
